@using CRM.Frontend.Pages
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navigationManager

<CascadingBlazoredModal Position="ModalPosition.Middle" Size="ModalSize.Large" HideHeader="true" DisableBackgroundCancel="true" AnimationType="ModalAnimationType.FadeInOut">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @{
                        if (context.User.Identity?.IsAuthenticated != true)
                        {
                            navigationManager.NavigateTo("/");
                        }
                        else
                        {
                            <p class="alert alert-danger">No estas autorizado para ingresar a esta página</p>
                        }
                    }
                </NotAuthorized>
            </AuthorizeRouteView>

        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <PageTitle>No encontrado</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Lo sentimos no hay nada en esta ruta.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</CascadingBlazoredModal>