@page "/clients/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize]

<h3>Crear cliente</h3>

<ClientForm @ref="clientForm" Client="client" OnValidSubmit="Create" ReturnAction="Return" />

@code {
    private Client client = new();
    private ClientForm? clientForm;

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/clients", client);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        await BlazoredModal.CloseAsync(ModalResult.Ok());
        Return();

    }

    private void Return()
    {
        navigationManager.NavigateTo("/clients");
    }
}

