@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Hola, <a href="EditUser" class="nav-link btn btn-link">@context.User.Identity!.Name</a>
                    <a href="Logout" class="nav-link btn btn-link">Cerrar Sesión</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
