@*<div class="nav-img">
    <div class="img">
        <img src="spyder_mask.png" />
    </div>
    <a class="title" href="">SPYDER</a>
</div>
*@
<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => ToggleNavMenu(NavSubmenu.None)" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => TogleSubmenu(NavSubmenu.First)">
                <span class="oi oi-person" aria-hidden="true"></span> Clientes
            </NavLink>
        </li>



        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => TogleSubmenu(NavSubmenu.Second)">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Oportunidades
            </NavLink>
        </li>

        @if (navSubmenu == NavSubmenu.Second)
        {
            <li class="nav-item px-5">
                <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="counter">
                    <span class="oi oi-graph" aria-hidden="true"></span> Oportunidad
                </NavLink>
            </li>
            <li class="nav-item px-5">
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" @onclick="() => ToggleNavMenu()" href="fetchdata">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Actividades
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </li>
        }
    </ul>
</div>


@code {
    private enum NavSubmenu
    {
        None,
        First,
        Second
    }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private NavSubmenu navSubmenu = NavSubmenu.None;
    private bool collapseNavMenu = false;


    private void ToggleNavMenu(NavSubmenu? submenu = null)
    {
        collapseNavMenu = !collapseNavMenu;
        navSubmenu = submenu ?? navSubmenu;
    }

    private void TogleSubmenu(NavSubmenu submenu)
    {
        if (navSubmenu == submenu)
            navSubmenu = NavSubmenu.None;
        else
            navSubmenu = submenu;
    }
}
